<div class="container">
    <div class="left-container">
        <div class="main-subcontainer">
            <div class="main-subcont-image">
                <img [src]="storkNestSwing90CoWithNetUrl" alt="storkNestSwing90CoWithNet.jpg">
            </div>

            <div class="main-subcont-desc">
               <h3>Люлка Щъркелово гнездо 90 см – цветна (с мрежа)</h3>
               <p>Цена: </p>
            </div>
        </div>
        <div class="right-subcontainer">
            <h3>Описание на продукта</h3>
          
        </div>

    </div>

    <div class="right-container">
        <h3>Подобни продукти</h3>
        <div class="similar-productsone">
            <a href="#">
                <img [src]="storkNestSwing90CoFineMeshUrl" alt="storkNestSwing90CoFineMesh.jpg">
                <h4>Люлка Щъркелово гнездо 90 см – цветна фина мрежа</h4>
            </a>
        </div>
        <div class="similar-productstwo">

            <img [src]="storkNestSwing90CoFineMeshRainbowUrl" alt="storkNestSwing90CoFineMeshRainbow.jpg">
            <h4>Люлка щъркелово гнездо 90 см - цветна фина мрежа RAINBOW</h4>

        </div>
        <div class="similar-productsthree">
            <img [src]="nestswing125GiantUrl" alt="nestSwing125Giant/nestSwing125Giant.jpg">
            <h4>Люлка за щъркелово гнездо 125 см – цветна (без мрежа) ГИГАНТ</h4>
        </div>

        <div class="similar-productsfour">
            <img [src]="storkNestSwing125GiantUrl" alt="storkNestSwing125Giant.jpg">
            <h4>Люлка за щъркелово гнездо 125 см – цветна (с мрежа) ГИГАНТ</h4>

        </div>

    </div>

</div>

<footer>
    <div id="footer-text">
        <div id="footer-h2">
          <h2>Координати за заявка</h2>
          </div>
    </div>
</footer>





